 <!DOCTYPE html>
<html ng-app="httpService">
<head>
    <title>Http Service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
     
    <script>
        var myApp = angular.module("httpService",[]);
        myApp.controller("myCtrl",function($scope,$http){

            $scope.array = [];
            $scope.userId   ;          
            $scope.userName ;
 
            $scope.login = function()
            {
               $scope.array = $http.get('https://jsonplaceholder.typicode.com/users').then(
                    function(response)
                    {
                        $scope.array = response;
                    
                        // $scope.findUser = $scope.array.find( user => $scope.userId === user.id && $scope.userName === user.username);

                     //  $scope.findUser = $scope.array.findIndex(user => user.id === $scope.userId && user.username === $scope.userName);

                       $scope.findUser = false ;

                       for(var i=0 ; i< $scope.array.length ; i++)
                       {
                            if($scope.array[i].id === $scope.userId && $scope.array[i].username === $scope.userName )
                            {
                                console.log("User found" , $scope.findUser);
                               // $scope.findUser = true;
                            }
                       }
                         
                        // if(!$scope.findUser)
                        // {
                        //     console.log("User Not found");
                        // } else{
                        //     console.log("User Found");
                        // }

                    },
                    function(error)
                    {
                        $scope.error = "Not fetch data try again";
                    });

                     
            }
        });
    </script>
</head>
<body> 

    <div ng-controller="myCtrl">

        <lable>Enter id :<input type="text" ng-model="userId"></lable>
        <label>Enter username :<input type="text" ng-model="userName"></label>

        <button ng-click="login()">login</button>

             <!-- <p ng-repeat="data in array">{{data.name}}</p><br> -->

        {{error}}
    </div>
</body>
</html>