<!DOCTYPE html>
<html  ng-app="resourceService_Yogesh">
<head>       
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.min.js"></script>
    <script>
        var myVar = angular.module("resourceService_Yogesh",['ngResource']);
        myVar.controller("myCtrl",function($scope,$resource){

            $scope.data = [];
            $scope.error = '';

            var user = $resource("https://jsonplaceholder.typicode.com/users");
            
            $scope.getData = function()
            {
                   user.query().$promise.then(
                    function(response){
                        $scope.data = response;
                    },function(error){
                        $scope.error = 'Data not fetch';
                    });

            }

        });
    </script>
</head>
<body>
    <div ng-controller="myCtrl">

        <button ng-click="getData()">Get Data</button>

        <ul>
            <li ng-repeat="item in data">{{item.name}}</li><br>
        </ul>

        {{error}}

    </div>
</body>
</html>